* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}

h1,h2,h3,h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 169.6rem;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}